<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="assets/styles.css" type="text/css">
  </head>
  <body>
    <h1>Analysis of Diabetes Twitter Data</h1>
    <div id="app">
      <!-- <section>
        <h2>Users</h2>
        <ul>
          <li>
            Maria
          </li>
          <li>
            Lasse
          </li>
        </ul>
      </section> -->
      <section>
        <h2>Sentinents</h2>
        <svg id="sentinentChart"></svg>
        <ul class="collection">
          <li class="collection-item" v-for="s in sentinents"  v-on:click="getSentinentTweets(s)">
            <span class="title">{{s}}</span>
          </li>
        </ul>
      </section>
      <section>
        <div>
        <h2>Selected Tweets</h2>
        <ul class="collection">
          <li class="collection-item avatar" v-for="tweet in tweets">
            <!-- <i class="material-icons circle green">insert_chart</i> -->
            <span class="title">{{tweet.name}}</span>
            <p>{{tweet.time}} - {{tweet.keywords}}<br />
            {{tweet.text}}</p>
          </li>
        </ul>
        </div>
      </section>

    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js" ></script>
  <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
  <script type="text/javascript">

  // Setup Firebase
  var config = {
    apiKey: "AIzaSyAAKwkmfHfHMDBUq4pIZpdEBR3kAfF5HUc",
    authDomain: "automatic-disco.firebaseapp.com",
    databaseURL: "https://automatic-disco.firebaseio.com",
    // storageBucket: "automatic-disco.appspot.com",
    // serviceAccount: "data/My Project 96139-d056a3c80700.json",
    // projectId: "automatic-disco",
    // messagingSenderId: "473031467657"
  }
  firebase.initializeApp(config)

  var auth = firebase.auth();
  var user = auth.signInWithEmailAndPassword("stefanie.knoth@gmail.com", "passForThisApp123");
  var db = firebase.database();

  // create Vue app
  var app = new Vue({
    // element to mount to
    el: '#app',
    // firebase binding
    // https://github.com/vuejs/vuefire
    firebase: {
      tweets: db.ref('tweets')
    },
    data: {
      sentinentCount: null,
      sentinents: null
    },
    created: function () {
      fetch('sentinents.json').then((response) => {
        return response.json().then((json) => {
          console.log("JSON", json)
          app.sentinents = json
          // this.renderChart(app.sentinents);
        })
      });

      fetch('sentinentCount.json').then((response) => {
        return response.json().then((json) => {
          console.log("JSON", json)
          app.sentinentCount = json
        })
      });

    },
    methods: {
      getTweets: function(key) {
        app.$bindAsArray('tweets', db.ref('tweets').orderByChild('sentinentID').equalTo(key));
      },
      getSentinentTweets: function (s) {
        app.getTweets(s.name);
      },
      renderChart: function() {

        // set the dimensions of the canvas
        var margin = {top: 20, right: 20, bottom: 70, left: 40},
            width = 600 - margin.left - margin.right,
            height = 300 - margin.top - margin.bottom;


        // set the ranges
        var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);

        var y = d3.scale.linear().range([height, 0]);

        // define the axis
        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom")


        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .ticks(10);


        // add the SVG element
        var svg = d3.select("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform",
                  "translate(" + margin.left + "," + margin.top + ")");


        // load the data
        d3.json("sentinents.json", function(error, data) {

            data.forEach(function(d) {
                d.name = d.name;
                d.value = +d.value;
            });

          // scale the range of the data
          x.domain(data.map(function(d) { return d.name; }));
          y.domain([0, d3.max(data, function(d) { return d.value; })]);

          // add axis
          svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis)
            .selectAll("text")
              .style("text-anchor", "end")
              .attr("dx", "-.8em")
              .attr("dy", "-.55em")
              .attr("transform", "rotate(-90)" );

          svg.append("g")
              .attr("class", "y axis")
              .call(yAxis)
            .append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", 5)
              .attr("dy", ".71em")
              .style("text-anchor", "end")
              .text("Frequency");


          // Add bar chart
          svg.selectAll("bar")
              .data(data)
            .enter().append("rect")
              .attr("class", "bar")
              .attr("x", function(d) { return x(d.name); })
              .attr("width", x.rangeBand())
              .attr("y", function(d) { return y(d.value); })
              .attr("height", function(d) { return height - y(d.value); });

            });

        }
      },
      mounted: function() {
         this.renderChart();
      },
      watch: {
        // data: function(val) {
        //   this.renderChart(val);
        // }
    }
  })
  </script>
</html>
